{% extends 'base.html.twig' %}

{% block title %}The Movie Storehouse - Genre{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1>All Movies in the Storehouse</h1>
            <p>A random movies database</p>
            <h2>All Movies</h2>
            <ul>
                {% for movie in movie %}
                    <li>{{ movie.genre }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
