{% extends 'base.html.twig' %}

{% block title %}The Movie Storehouse{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1>The Movies Storehouse</h1>
            <p>A random movies database</p>
        </div>
    </div>

{% endblock %}
