{% extends 'base.html.twig' %}

{% block title %}The Movie Storehouse - All{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1>Movies in the Storehouse</h1>
            <p>A particular movie</p>
            <h2>{{ movie.title }}</h2>
        </div>
    </div>

{% endblock %}
